[Unit]
Description=One Wire daemon
After=network.target

[Service]
RuntimeDirectory=onewired
WorkingDirectory=/run/onewired
ExecStart=/usr/local/sbin/onewired
Restart=on-failure
#Type=forking
PIDFile=/run/onewired/onewired.pid
User=onewired

[Install]
WantedBy=multi-user.target
Alias=onewired.service
